@page
@model Poster.Pages.Information.SobolevModel
@{
    ViewData["Title"] = "Илья Соболев";
}
<body>
<div class="bg">
    <div class="gr">
        <a class="home" asp-area="" asp-page="/Index">
            <div class="title">
                <img src="img/лендинг.png" class="af" />
                <h1 class="display-5">АфишаХ</h1>
            </div>
        </a>
        <div class="razd">
            <a id="Sinema" class="text2" asp-area="" asp-page="/SinemaSt"> Кино</a>
            <a id="Concerts" class="text2" asp-area="" asp-page="/ConcertsSt">Концерты</a>
            <a id="Theater" class="text2" asp-area="" asp-page="/TheaterSt">Театр</a>
            <a id="Exhibitions" class="text2" asp-area="" asp-page="/ExhibitionsSt">Выставки</a>
            <a id="Musicals" class="text2" asp-area="" asp-page="/MusicalsSt">Мьюзиклы</a>
            <a id="StandUp" class="text2" asp-area="" asp-page="/StandUpSt">Стендап</a>
        </div>
        <div class="name">
            <div>
                <a>Стендап; Концерт; Шоу; Юмор; 18+</a>
            </div>
            <div>
                <h1>Илья Соболев</h1>
            </div>
        </div>
    </div>
   <img class="bgimg" src="~/img/fon/Rectangle 13.png" />
</div>
<div class="name2">
    <h1>Исполнитель</h1>
</div>
<div>
        <p class="info">Илья Соболев — российский стендап-комик, блогер и бывший резидент шоу Comedy Club в составе трио «Смирнов, Иванов, Соболев».</p>
</div>
  <div class="table">
    <div class="intable">
        <p>Юмор</p>
        <p>Юмор</p>
    </div>
    <div class="intable">
        <h1>24</h1>
    </div>
    <div class="intable">
        <p>Юмор</p>
        <p>Юмор</p>
    </div>
    <div class="intable">
        <p>Юмор</p>
        <p>Юмор</p>
    </div>
    <div class="intable">
        <h1>24</h1>
    </div>
</div>
</body>