html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.display-4 {
    text-align: left;
    font-size: 1.6em;
    font-weight: bold;
}

.display-3 {
    text-align: left;
    font-size: 1.8em;
    font-weight: bold;
    left: 25px;
    right: -20px;
}

.af {
    width: 5%;
    text-align: left;
}

.title {
    display: flex;
}

.razd { /*Не выравнивающияся херня*/
    display: flex;
    position: center;
    text-align: center;
}

.text {
    position: center;
    text-align: center;
    vertical-align: middle;
    font-size: 1.6em;
    margin: 20px;
}

.st {
    width: 30%;
    margin: 10px 50px 0px 0;
}

.st-tx {
    font-size: 80%;
    margin: 0px 0px 0px 0px;
}

.st-dt {
    font-size: 50%;
    margin: 0px 0px 0px 0px;
}

.st-1 {
    display: flex;
}
