html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #E0E0E0;
    display:block;
}

.display-4 {
    text-align: left;
    font-size: 1.6em;
    font-weight: bold;
    margin-left: 25px;
}

.display-3 {
    text-align: left;
    font-size: 1.8em;
    font-weight: bold;
    left: 25px;
    right: -20px;
    margin: 15px 5px 5px 5px;
}

.poisk{
    display:flex;
}

.af {
    width: 5%;
    text-align: left;
}

.title { /*кнопка на гл стр*/
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    width: 100%;
    height: 100%;
    position: relative;
}

.razd {  /*разделы*/
    text-align: center;
    vertical-align: middle;
    
}
.text-center { /*даты*/
    text-align: center;
    vertical-align: middle;
}

.text {
    position: center;
    text-align: center;
    vertical-align: middle;
    font-size: 1.6em;
    margin: 20px;
    outline: none;
    color: black;
    text-decoration: none;
}

.text1 {
    position: center;
    text-align: center;
    vertical-align: middle;
    font-size: 1.6em;
    margin: 20px 17px;
    outline: none;
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

.st-img {
    overflow: hidden;
    border-radius: 25px;
}
.st {
    width: 100%;
    transition: transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: -webkit-transform 0.5s;
    overflow: hidden;
}

.st:hover {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.st-tx {
    margin: 0px;
}

.st-dt {
    margin: 0px;
}


.st-1 {
    display: flex;
}

.st-fon {
    padding: 5px;
    margin: 15px 10px;
    overflow: hidden;
}

.all-date {
    display: inline-flex;
    text-align: center;
    vertical-align: middle;
    margin-left: 80px;
}

.weekend{
    color: red;
}

.weekdays{
    margin: 0px 0px 0px 0px;
}

.date {
    font-size: 30px;
    margin: 0px 0px 0px 0px;
}

.one-date {
    margin: 0px 5px;
    font-size: 12px;
}

.home {
    outline: none;
    color: black;
    text-decoration: none;
    width: 200px;
    height: 200px;
}

.bg { /* блок с картинкой фоном у статей*/
    margin: 0;
    height: 100%;
}

.bgimg { /*картинка фоном у статей*/
    margin: 0;
    height: 400px;
    width: 1400px;
}
.gr{ /*кнопка на главный и разделы*/
     position:absolute;
}

.display-5{
    color:white;
}
.text2 {
    color: white;
    position: center;
    text-align: center;
    vertical-align: middle;
    font-size: 1.6em;
    margin: 20px;
    outline: none;
    text-decoration: none;
}

.name{
    position:absolute;
    color:white;
    margin-left: 20px;
    margin-top: 20px;
}
.name2 { /*исполнитель и тп*/
    margin-left: 40px;
    color: black;
    font-weight: bolder;
}

.info {
    margin-left: 40px;
    font-weight: lighter;
    color: black;
}

.table {
    display: flex;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 450px;
    height: auto;
    border: solid;
    border-color: hotpink;
    border-width: 4px 0px 4px 0px;
}

.table:hover{
    background-color: hotpink;
}

.intable{
    margin: 0 20px;
}
.tag{
    padding-left: 10px 20px;
}