@page
@model Poster.Pages.ExhibitionsStModel
@{
    ViewData["Title"] = "Выставка";
}

<a class="home" asp-area="" asp-page="/Index">
    <div class="title">
        <img src="img/лендинг.png" class="af" />
        <h1 class="display-3">АфишаХ</h1>
    </div>
</a>
<div class="razd">
    <a id="Sinema" class="text" asp-area="" asp-page="/SinemaSt"> Кино</a>
    <a id="Concerts" class="text" asp-area="" asp-page="/ConcertsSt">Концерты</a>
    <a id="Theater" class="text" asp-area="" asp-page="/TheaterSt">Театр</a>
    <a id="Exhibitions" class="text1" asp-area="" asp-page="/ExhibitionsSt">Выставки</a>
    <a id="Musicals" class="text" asp-area="" asp-page="/MusicalsSt">Мьюзиклы</a>
    <a id="StandUp" class="text" asp-area="" asp-page="/StandUpSt">Стендап</a>
</div>
<div class="text-center">
    <h1 class="display-4">Афиша событий в екатеринбурге</h1>
    <p class="month">Февраль</p>
    <div class="all-date">
        <div class="one-date">
            <p class="date">1</p>
            <p class="weekdays">ср</p>
        </div>
        <div class="one-date">
            <p class="date">2</p>
            <p class="weekdays">чт</p>
        </div>
        <div class="one-date">
            <p class="date">3</p>
            <p class="weekdays">пт</p>
        </div>
        <div class="one-date">
            <p class="date">4</p>
            <p class="weekend">сб</p>
        </div>
        <div class="one-date">
            <p class="date">5</p>
            <p class="weekend">вс</p>
        </div>
        <div class="one-date">
            <p class="date">6</p>
            <p class="weekdays">пн</p>
        </div>
        <div class="one-date">
            <p class="date">7</p>
            <p class="weekdays">вт</p>
        </div>
        <div class="one-date">
            <p class="date">8</p>
            <p class="weekdays">ср</p>
        </div>
        <div class="one-date">
            <p class="date">9</p>
            <p class="weekdays">чт</p>
        </div>
        <div class="one-date">
            <p class="date">10</p>
            <p class="weekdays">пт</p>
        </div>
        <div class="one-date">
            <p class="date">11</p>
            <p class="weekend">сб</p>
        </div>
        <div class="one-date">
            <p class="date">12</p>
            <p class="weekend">вс</p>
        </div>
        <div class="one-date">
            <p class="date">13</p>
            <p class="weekdays">пн</p>
        </div>
        <div class="one-date">
            <p class="date">14</p>
            <p class="weekdays">вт</p>
        </div>
        <div class="one-date">
            <p class="date">15</p>
            <p class="weekdays">ср</p>
        </div>
        <div class="one-date">
            <p class="date">16</p>
            <p class="weekdays">чт</p>
        </div>
        <div class="one-date">
            <p class="date">17</p>
            <p class="weekdays">пт</p>
        </div>
        <div class="one-date">
            <p class="date">18</p>
            <p class="weekend">сб</p>
        </div>
        <div class="one-date">
            <p class="date">19</p>
            <p class="weekend">вс</p>
        </div>
        <div class="one-date">
            <p class="date">20</p>
            <p class="weekdays">пн</p>
        </div>
        <div class="one-date">
            <p class="date">21</p>
            <p class="weekdays">вт</p>
        </div>
        <div class="one-date">
            <p class="date">22</p>
            <p class="weekdays">ср</p>
        </div>
        <div class="one-date">
            <p class="date">23</p>
            <p class="weekdays">чт</p>
        </div>
        <div class="one-date">
            <p class="date">24</p>
            <p class="weekdays">пт</p>
        </div>
        <div class="one-date">
            <p class="date">25</p>
            <p class="weekend">сб</p>
        </div>
        <div class="one-date">
            <p class="date">26</p>
            <p class="weekend">вс</p>
        </div>
        <div class="one-date">
            <p class="date">27</p>
            <p class="weekdays">пн</p>
        </div>
        <div class="one-date">
            <p class="date">28</p>
            <p class="weekdays">вт</p>
        </div>
    </div>
</div>
<div>
    <h1 class="display-4">События в ближайшие дни</h1>
</div>
<div class="st-1">
    <div class="st-fon">
        <div class="st-img">
            <img class="st" src="img/5/Подводный мир.png" />
        </div>
        <p class="st-tx">Подводный мир</p>
        <p class="st-dt">Чт 23 февраля, 19:00</p>
    </div>
    <div class="st-fon">
        <div class="st-img">
            <img class="st" src="img/5/Отечественное искусство.png" />
        </div>
        <p class="st-tx">Отечественное искусство Советского периода</p>
        <p class="st-dt">Чт 23 февраля, 19:00</p>
    </div>
    <div class="st-fon">
        <div class="st-img">
            <img class="st" src="img/5/Выставки “Эрмитаж-Урал”.png" />
        </div>
        <p class="st-tx">Выставки “Эрмитаж-Урал”</p>
        <p class="st-dt">Чт 23 февраля, 19:00</p>
    </div>
</div>
<div class="st-1">
    <div class="st-fon">
        <div class="st-img">
            <img class="st" src="img/5/Водные рептилии.png" />
        </div>
        <p class="st-tx">Водные рептилии</p>
        <p class="st-dt">Чт 23 февраля, 19:00</p>
    </div>
    <div class="st-fon">
        <div class="st-img">
            <img class="st" src="img/5/Центр истории.png" />
        </div>
        <p class="st-tx">Центр истории камнерезного дела</p>
        <p class="st-dt">Чт 23 февраля, 19:00</p>
    </div>
    <div class="st-fon">
        <div class="st-img">
            <img class="st" src="img/5/Экспозиция “Эрмитаж-Урал”.png" />
        </div>
        <p class="st-tx">Экспозиция “Эрмитаж-Урал”</p>
        <p class="st-dt">Чт 23 февраля, 19:00</p>
    </div>
</div>
<div class="st-1">
    <div class="st-fon">
        <div class="st-img">
            <img class="st" src="img/5/Выставка работ Альберта.png" />
        </div>
        <p class="st-tx">Выставка работ Альберта Коровкика</p>
        <p class="st-dt">Чт 23 февраля, 19:00</p>
    </div>
    <div class="st-fon">
        <div class="st-img">
            <img class="st" src="img/5/Искусство Испании.png" />
        </div>
        <p class="st-tx">Искусство Испании</p>
        <p class="st-dt">Чт 23 февраля, 19:00</p>
    </div>
    <div class="st-fon">
        <div class="st-img">
            <img class="st" src="img/5/Рерих. Путь к свету.png" />
        </div>
        <p class="st-tx">Рерих. Путь к свету</p>
        <p class="st-dt">Чт 23 февраля, 19:00</p>
    </div>
</div>