@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="title">
    <img src="img/pal.jpg" class="af" />
    <h1 class="display-3">АфишаХ</h1>
</div>
<div class="razd">
    <h1 class="text"> Кино </h1>
    <h1 class="text"> Концерты </h1>
    <h1 class="text"> Театр </h1>
    <h1 class="text"> Выставки </h1>
    <h1 class="text"> Мьюзиклы </h1>
    <h1 class="text"> Стендап </h1>
</div>
<div class="text-center">
    <h1 class="display-4">Афиша событий в екатеринбурге</h1>
</div>
<div>
    <h1 class="display-4">События в ближайшие дни</h1>
</div>
<div class="st-1">
    <div>
        <img src="img/lol.jpg" class="st" />
        <p class="st-tx">Мюзикл без границ</p>
        <p class="st-dt">Чт 23 февраля, 19:00</p>
    </div>
    <div>
        <img src="img/lol.jpg" class="st" />
        <p class="st-tx">Мюзикл без границ</p>
        <p class="st-dt">Чт 23 февраля, 19:00</p>
    </div>
    <div>
        <img src="img/lol.jpg" class="st" />
        <p class="st-tx">Мюзикл без границ</p>
        <p class="st-dt">Чт 23 февраля, 19:00</p>
    </div>
</div>
