@page
@model IndexModel
@{
    ViewData["Title"] = "АфишаХ";
}

<a class="home" href="./Index.cshtml">
<div class="title">
    <img src="img/лендиг.png" class="af" />
    <h1 class="display-3">АфишаХ</h1>
</div>
</a>
<div class="razd">
    <a id="Sinema" class="text" href="Sinema-st.cshtml"> Кино</a>
    <a id="Concerts" class="text" href="Sinema-st.cshtml">Концерты</a>
    <a id="Theater" class="text" href="Sinema-st.cshtml">Театр</a>
    <a id="Exhibitions" class="text" href="Sinema-st.cshtml">Выставки</a>
    <a id="Musicals" class="text" href="Sinema-st.cshtml">Мьюзиклы</a>
    <a id="Stand up" class="text" href="Sinema-st.cshtml">Стендап</a>
</div>
<div class="text-center">
    <h1 class="display-4">Афиша событий в екатеринбурге</h1>
    <p class="month">Февраль</p>
    <div class="all-date">
        <div class="one-date">
            <p class="date">1</p>
            <p class="weekdays">ср</p>
        </div>
        <div class="one-date">
            <p class="date">2</p>
            <p class="weekdays">чт</p>
        </div>
        <div class="one-date">
            <p class="date">3</p>
            <p class="weekdays">пт</p>
        </div>
        <div class="one-date">
            <p class="date">4</p>
            <p class="weekend">сб</p>
        </div>
        <div class="one-date">
            <p class="date">5</p>
            <p class="weekend">вс</p>
        </div>
        <div class="one-date">
            <p class="date">6</p>
            <p class="weekdays">пн</p>
        </div>
        <div class="one-date">
            <p class="date">7</p>
            <p class="weekdays">вт</p>
        </div>
        <div class="one-date">
            <p class="date">8</p>
            <p class="weekdays">ср</p>
        </div>
        <div class="one-date">
            <p class="date">9</p>
            <p class="weekdays">чт</p>
        </div>
        <div class="one-date">
            <p class="date">10</p>
            <p class="weekdays">пт</p>
        </div>
        <div class="one-date">
            <p class="date">11</p>
            <p class="weekend">сб</p>
        </div>
        <div class="one-date">
            <p class="date">12</p>
            <p class="weekend">вс</p>
        </div>
        <div class="one-date">
            <p class="date">13</p>
            <p class="weekdays">пн</p>
        </div>
        <div class="one-date">
            <p class="date">14</p>
            <p class="weekdays">вт</p>
        </div>
        <div class="one-date">
            <p class="date">15</p>
            <p class="weekdays">ср</p>
        </div>
        <div class="one-date">
            <p class="date">16</p>
            <p class="weekdays">чт</p>
        </div>
        <div class="one-date">
            <p class="date">17</p>
            <p class="weekdays">пт</p>
        </div>
        <div class="one-date">
            <p class="date">18</p>
            <p class="weekend">сб</p>
        </div>
        <div class="one-date">
            <p class="date">19</p>
            <p class="weekend">вс</p>
        </div>
        <div class="one-date">
            <p class="date">20</p>
            <p class="weekdays">пн</p>
        </div>
        <div class="one-date">
            <p class="date">21</p>
            <p class="weekdays">вт</p>
        </div>
        <div class="one-date">
            <p class="date">22</p>
            <p class="weekdays">ср</p>
        </div>
        <div class="one-date">
            <p class="date">23</p>
            <p class="weekdays">чт</p>
        </div>
        <div class="one-date">
            <p class="date">24</p>
            <p class="weekdays">пт</p>
        </div>
        <div class="one-date">
            <p class="date">25</p>
            <p class="weekend">сб</p>
        </div>
        <div class="one-date">
            <p class="date">26</p>
            <p class="weekend">вс</p>
        </div>
        <div class="one-date">
            <p class="date">27</p>
            <p class="weekdays">пн</p>
        </div>
        <div class="one-date">
            <p class="date">28</p>
            <p class="weekdays">вт</p>
        </div>
    </div>
</div>
<div>
    <h1 class="display-4">События в ближайшие дни</h1>
</div>
<div class="st-1">
    <div class ="st-fon">
        <div class="st-img">
        <img class="st" src="img/Rectangle 4.png" />
        </div>
        <p class="st-tx">Мюзикл без границ</p>
        <p class="st-dt">Чт 23 февраля, 19:00</p>
    </div>
    <div class ="st-fon">
        <div class="st-img">
        <img class="st" src="img/Rectangle 4.png" />
        </div>
        <p class="st-tx">Мюзикл без границ</p>
        <p class="st-dt">Чт 23 февраля, 19:00</p>
    </div>
    <div class ="st-fon">
        <div class="st-img">
        <img class="st" src="img/Rectangle 4.png" />
        </div>
        <p class="st-tx">Мюзикл без границ</p>
        <p class="st-dt">Чт 23 февраля, 19:00</p>
    </div>
</div>
<div class="st-1">
    <div class ="st-fon">
        <div class="st-img">
        <img class="st" src="img/Rectangle 4.png" />
        </div>
        <p class="st-tx">Мюзикл без границ</p>
        <p class="st-dt">Чт 23 февраля, 19:00</p>
    </div>
    <div class="st-fon">
        <div class="st-img">
            <img class="st" src="img/Rectangle 4.png" />
        </div>
        <p class="st-tx">Мюзикл без границ</p>
        <p class="st-dt">Чт 23 февраля, 19:00</p>
    </div>
    <div class ="st-fon">
        <div class="st-img">
        <img class="st" src="img/Rectangle 4.png" />
        </div>
        <p class="st-tx">Мюзикл без границ</p>
        <p class="st-dt">Чт 23 февраля, 19:00</p>
    </div>
</div>
