@page
@model IndexModel
@{
    ViewData["Title"] = "АфишаХ";
}

<div class="title">
    <img src="img/лендиг.png" class="af" />
    <h1 class="display-3">АфишаХ</h1>
</div>
<div class="razd">
    <h1 id="Sinema" class="text">Кино</h1>
    <h1 id="Concerts" class="text">Концерты</h1>
    <h1 id="Theater" class="text">Театр</h1>
    <h1 id="Exhibitions" class="text">Выставки</h1>
    <h1 id="Musicals" class="text">Мьюзиклы</h1>
    <h1 id="Stand up" class="text">Стендап</h1>
</div>
<div class="text-center">
    <h1 class="display-4">Афиша событий в екатеринбурге</h1>
</div>
<div>
    <h1 class="display-4">События в ближайшие дни</h1>
</div>
<div class="st-1">
    <div class ="st-fon">
        <img class="st" src="img/fon.jpg" />
        <p class="st-tx">Мюзикл без границ</p>
        <p class="st-dt">Чт 23 февраля, 19:00</p>
    </div>
    <div class="st-fon">
        <img class="st" src="img/fon.jpg" />
        <p class="st-tx">Мюзикл без границ</p>
        <p class="st-dt">Чт 23 февраля, 19:00</p>
    </div>
    <div class="st-fon">
        <img class="st" src="img/fon.jpg" />
        <p class="st-tx">Мюзикл без границ</p>
        <p class="st-dt">Чт 23 февраля, 19:00</p>
    </div>
</div>
<div class="st-1">
    <div class="st-fon">
        <img class="st" src="img/fon.jpg" />
        <p class="st-tx">Мюзикл без границ</p>
        <p class="st-dt">Чт 23 февраля, 19:00</p>
    </div>
    <div class="st-fon">
        <img class="st" src="img/fon.jpg" />
        <p class="st-tx">Мюзикл без границ</p>
        <p class="st-dt">Чт 23 февраля, 19:00</p>
    </div>
    <div class="st-fon">
        <img class="st" src="img/fon.jpg" />
        <p class="st-tx">Мюзикл без границ</p>
        <p class="st-dt">Чт 23 февраля, 19:00</p>
    </div>
</div>
