<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Poster</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Poster.styles.css" asp-append-version="true" />
        <link rel="icon" href="@Url.Content("~/img/ico.ico")" />
</head>
<body>
    <div class="container-flui">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<header>
        <div class="poisk">
            <a class="home" asp-area="" asp-page="/Index">
                <div class="title">
                    <img src="img/лендиг.png" class="af" />
                    <h1 class="display-3">АфишаХ</h1>
                </div>
            </a>
            <input type="text"
                   id="name"
                   name="name"
                   required
                   minlength="4"
                   maxlength="8"
                   size="10">
        </div>
    </header>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>